.App {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.App a {
    color: #34a1eb;
}

.App p {
    padding-top: 16px;
}

.actions_wr {
    text-align: left;
    margin-bottom: 5px;
}

.actions_wr button + button {
    margin-left: 5px
}

button {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #34a1eb;
    padding: 8px;
    min-width: 110px;
    cursor: pointer;
}
button.disabled {
    background-color: #a5d8fa;
    cursor: progress;
}
button:hover {
    background-color: #a5d8fa;
}

.input_cols {
    display: flex;
    justify-content: center;
}

.chars_counter {
    margin: 0 5px;
    font-size: 12px;
    min-width: 60px;
}

.text_input textarea {
    width: 500px;
    height: 200px;
    min-width: 300px;
    min-height: 100px;
}

.evaluation_panel .character {
    margin: 4px;
}

.character {
    display: inline-block;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #fafafa;
    padding: 4px;
    cursor: pointer;
}

.character:hover {
    border: 1px solid #aaa;
}

.help {
    color: #555;
    font-size: 12px;
}
